[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eq5dsuite"]
	path = eq5dsuite
	url = https://github.com/mathsinhealth/eq5dsuite
[submodule "valueSetCompare"]
	path = valueSetCompare
	url = https://github.com/mathsinhealth/valuesetcompare
